In [35]:
import pandas as pd

In [36]:
produtos = pd.read_csv('produto_data.csv')
produtos.head(10)

,ProdutoID,Produto,Categoria,PrecoUnitario,Custo,QtdEstoque
0,05112d7f-12ec-4f24-8bab-4c1b904aa134,Teclado Mecânico,Acessórios Informática,3786.58,101.50,462
1,79f73374-e92a-409b-92f1-8f28a61bdc7d,Mouse Sem Fio,Acessórios Informática,246.74,2674.12,275
2,62d47bff-a510-47b4-924d-4a86efed0e52,Mouse Gamer,Acessórios Informática,4005.01,39.86,426
3,63032bd4-9db5-44b5-af84-22cc484fda28,Headset Gamer,Acessórios Informática,4120.87,1121.23,144
4,3cd7e0ea-bf81-4a17-a905-8f29731da6ec,Hub USB,Acessórios Informática,4711.94,1722.07,374
5,4002c5eb-9cd3-4931-bd95-7e47aed14cec,Cabo HDMI,Acessórios Informática,2251.88,396.01,232
6,a2fe9cb4-fcec-4791-bae9-df3f585b8128,Cadeira Gamer,Acessórios Informática,1509.96,346.65,361
7,e6092042-eb5f-4944-baa8-34197479d994,Monitor Suporte,Acessórios Informática,4599.96,377.42,455
8,e123433f-8955-47ec-b447-f8a127340be8,Base para Notebook,Acessórios Informática,2189.72,803.91,442
9,496fe308-24f7-4239-b94d-91565c31d125,Adaptador USB,Acessórios Informática,727.25,849.79,342

Necessario alterar o valor dos produtos

In [37]:
clientes = pd.read_csv('cliente_data.csv')
clientes.head(10)

,ClienteID,Nome,Idade,Genero,Segmento,Localizacao
0,8fc93778-2885-40d1-a8e0-c8009e482e45,Olivia Sampaio,18,M,Alta Frequência,"São Paulo, São Paulo"
1,d9162e44-b0a1-4621-87fe-fddbfbb9bf21,Danilo Ribeiro,50,F,Alta Receita,"Curitiba, Paraná"
2,71e538a4-e8c0-463d-a58a-9c6bf205da82,Asafe Carvalho,36,F,Alta Frequência,"Macapá, Amapá"
3,611e6047-790a-474e-a185-e21be156df17,Eloá Vargas,20,F,Recorrente,"Maceió, Alagoas"
4,fcdeb1c8-b028-4afc-960f-96d9051bb698,Dr. Fernando Machado,59,F,Alta Frequência,"Santarém, Pará"
5,7de471bf-f865-4d61-8515-5381e4dc6680,Manuella Fernandes,23,M,Alta Frequência,"Joinville, Santa Catarina"
6,5eb63bc5-e2f1-4e16-95c3-3faefce176a1,Felipe Carvalho,19,M,Recorrente,"Brasília, Distrito Federal"
7,64c40063-ad68-43c6-8cd3-a6a49fc08086,Daniel Vieira,24,F,Alta Frequência,"Florianópolis, Santa Catarina"
8,f629c955-3277-4b28-ab3d-48acf5ddb7d2,Luna da Rocha,68,F,Alta Receita,"Joinville, Santa Catarina"
9,c95d2093-f2e2-4d2f-8af3-c094b61ed8af,Luiz Gustavo Pereira,37,F,Alta Receita,"Brasília, Distrito Federal"

In [38]:
vendas = pd.read_csv('vendas_data.csv')
vendas.head(10)

,OrdemID,DataVenda,ClienteID,ProdutoID,Regiao,Canal,Quantidade,Receita,Disconto,Lucro
0,46685257-bdd6-40fb-8667-1ad11c80317f,2024-09-20,bc8960a9-23b8-41e9-b924-56de3eb13b90,e465e150-bd9c-46b3-ad3c-2d6d1a3d1fa7,Norte,Online,5,1262.21,0.07,274.19
1,0822e8f3-6c03-4199-972a-846916419f82,2024-04-27,3b8faa18-37f8-488b-97fc-695a07a0ca6e,8fadc1a6-06cb-4fb3-9a1d-e644815ef6d1,Sul,Online,10,2138.51,0.01,562.22
2,8b8148f6-b38a-488c-a65e-d389b74d0fb1,2022-11-05,96da1dac-72ff-4d2a-b86e-cbe06b65a6a4,01a9e71f-de8a-474b-8f36-d58b47378190,Sul,Online,9,1034.25,0.32,1371.45
3,47229389-571a-4876-ac30-7511b2b9437a,2022-09-06,c37459ee-f50b-4a63-b71e-cd7b27cd8130,6142ea7d-17be-4111-9a2a-73ed562b0f79,Nordeste,Loja Física,10,1427.04,0.43,1901.84
4,9a8dca03-580d-4b71-98f5-64135be6128e,2022-05-31,bacfb3d0-0b1f-4163-8e9f-f57f43b7a3a6,f91e1d4c-1ff4-4b78-8946-3e85759cde66,Nordeste,Loja Física,6,1425.46,0.11,1913.47
5,d453dd32-4b0d-4b41-8d52-88f1142c3fe8,2023-08-12,dc98d2c1-e2ac-472f-9e57-4f7aa0ee89ae,b45ed1f0-3139-432c-93cd-59bf5c941cf0,Norte,Online,7,528.75,0.42,1517.24
6,c5e7ce8a-3a57-4a8e-a948-8d990bbb2599,2022-04-19,daf61a26-146d-4f31-bc37-7a4c4a15544d,614ff3d7-19db-4ad0-9dd1-dfb23b982ef8,Norte,Loja Física,9,667.89,0.46,215.42
7,5d65a441-d588-42de-a2bc-372f7412b293,2023-03-08,35a240ae-5af3-4553-9ec4-2e0829a3b2e9,efc89849-b3aa-4efe-8458-a885ab9099a4,Centro-Oeste,Loja Física,10,1001.83,0.03,1659.93
8,2bcfbe01-a28d-4fe3-9bf0-027312476f57,2024-10-03,29d4beef-3eab-4dcb-baa8-0dd488bd6407,fd5166e6-451b-4cf3-a123-fdf77656af72,Centro-Oeste,Online,4,4339.09,0.19,1144.46
9,af42e12f-3838-4326-8e94-4239b02b61c4,2024-09-21,c6a7ee39-c4b0-42cc-97c5-24a55304317f,0837b8a3-d261-47ab-baa2-e4f90e51f30d,Centro-Oeste,Online,6,1808.59,0.34,1760.51

In [39]:
meta_vendas = pd.read_csv('vendas_meta.csv')
meta_vendas.head(10)

  Regiao   Canal  Periodo  MetaReceita  MetaLucro
0  Norte  Online  2022-Q1    748434.22  375835.71
1  Norte  Online  2022-Q2    389490.63   67293.51
2  Norte  Online  2022-Q3    911367.65  357942.47
3  Norte  Online  2022-Q4    105311.45   51539.43
4  Norte  Online  2023-Q1    152575.79  224387.27
5  Norte  Online  2023-Q2    610259.30  435651.36
6  Norte  Online  2023-Q3    785958.63   65837.85
7  Norte  Online  2023-Q4    591024.28   58907.01
8  Norte  Online  2024-Q1    841598.57  264392.71
9  Norte  Online  2024-Q2    614342.68  223724.64

In [40]:
calendario = pd.read_csv('calendario_data.csv')
calendario.head(10)

         Data            Dia       Mes  Trimestre   Ano
0  2022-01-01         sábado      maio          1  2022
1  2022-01-02    terça-feira     junho          1  2022
2  2022-01-03   quarta-feira     junho          1  2022
3  2022-01-04        domingo     junho          1  2022
4  2022-01-05    terça-feira     abril          1  2022
5  2022-01-06  segunda-feira  setembro          1  2022
6  2022-01-07    sexta-feira      maio          1  2022
7  2022-01-08  segunda-feira  setembro          1  2022
8  2022-01-09    sexta-feira     junho          1  2022
9  2022-01-10        domingo  novembro          1  2022

In [41]:
vendas.shape

(1854, 10)