In [1]:
import pandas as pd

##### Ao gerar os dados de produtos os valores de preço unitario e custo estavam muito acima do que poderia ser, podendo gerar impacto total nas analises, necessário alterar os dados e trazer os valores reais.

In [ ]:
# Importando os dados
produto_csv = pd.read_csv('produto_data.csv')
produto_csv.head(10)

,ProdutoID,Produto,Categoria,PrecoUnitario,Custo,QtdEstoque
0,bdd640fb-0667-4ad1-9c80-317fa3b1799d,Teclado Mecânico,Acessórios Informática,601.09,2229.82,125
1,23b8c1e9-3924-46de-beb1-3b9046685257,Mouse Sem Fio,Acessórios Informática,1154.89,2214.68,346
2,bd9c66b3-ad3c-4d6d-9a3d-1fa7bc8960a9,Mouse Gamer,Acessórios Informática,3716.31,1645.19,302
3,972a8469-1641-4f82-8b9d-2434e465e150,Headset Gamer,Acessórios Informática,2138.51,108.80,111
4,17fc695a-07a0-4a6e-8822-e8f36c031199,Hub USB,Acessórios Informática,1201.67,1814.02,287
5,9a1de644-815e-46d1-bb8f-aa1837f8a88b,Cabo HDMI,Acessórios Informática,1034.25,1956.66,279
6,b74d0fb1-32e7-4629-8fad-c1a606cb0fb3,Cadeira Gamer,Acessórios Informática,2126.62,1358.64,142
7,6b65a6a4-8b81-48f6-b38a-088ca65ed389,Monitor Suporte,Acessórios Informática,4056.68,39.37,412
8,47378190-96da-4dac-b2ff-5d2a386ecbe0,Base para Notebook,Acessórios Informática,840.31,1279.39,142
9,c241330b-01a9-471f-9e8a-774bcf36d58b,Adaptador USB,Acessórios Informática,819.62,2872.49,172

In [ ]:
# Importando uma planilha em xlsx para altarar no excel os valores
produtos.to_excel('ProdutosCorrigir.xlsx')

##### Visualização dos dados com os valores alterados, os valores foram alterados fora do codigo, agora é tratar as outras tabelas a partir da alteração dos produtos

In [27]:
produtos = pd.read_excel('produtos_data.xlsx')
produtos.head(10)

,ProdutoID,Produto,Categoria,PrecoUnitario,Custo,QtdEstoque
0,05112d7f-12ec-4f24-8bab-4c1b904aa134,Teclado Mecânico,Acessórios Informática,378.58,101.50,462
1,79f73374-e92a-409b-92f1-8f28a61bdc7d,Mouse Sem Fio,Acessórios Informática,96.74,34.12,275
2,62d47bff-a510-47b4-924d-4a86efed0e52,Mouse Gamer,Acessórios Informática,400.01,139.86,426
3,63032bd4-9db5-44b5-af84-22cc484fda28,Headset Gamer,Acessórios Informática,412.87,121.23,144
4,3cd7e0ea-bf81-4a17-a905-8f29731da6ec,Hub USB,Acessórios Informática,47.94,17.07,374
5,4002c5eb-9cd3-4931-bd95-7e47aed14cec,Cabo HDMI,Acessórios Informática,21.88,9.01,232
6,a2fe9cb4-fcec-4791-bae9-df3f585b8128,Cadeira Gamer,Acessórios Informática,1209.96,846.65,361
7,e6092042-eb5f-4944-baa8-34197479d994,Monitor Suporte,Acessórios Informática,999.96,487.42,455
8,e123433f-8955-47ec-b447-f8a127340be8,Base para Notebook,Acessórios Informática,89.72,20.91,442
9,496fe308-24f7-4239-b94d-91565c31d125,Adaptador USB,Acessórios Informática,27.25,8.79,342

In [3]:
clientes = pd.read_csv('cliente_data.csv')
clientes.head(10)

,ClienteID,Nome,Idade,Genero,Segmento,Localizacao
0,8fc93778-2885-40d1-a8e0-c8009e482e45,Olivia Sampaio,18,M,Alta Frequência,"São Paulo, São Paulo"
1,d9162e44-b0a1-4621-87fe-fddbfbb9bf21,Danilo Ribeiro,50,F,Alta Receita,"Curitiba, Paraná"
2,71e538a4-e8c0-463d-a58a-9c6bf205da82,Asafe Carvalho,36,F,Alta Frequência,"Macapá, Amapá"
3,611e6047-790a-474e-a185-e21be156df17,Eloá Vargas,20,F,Recorrente,"Maceió, Alagoas"
4,fcdeb1c8-b028-4afc-960f-96d9051bb698,Dr. Fernando Machado,59,F,Alta Frequência,"Santarém, Pará"
5,7de471bf-f865-4d61-8515-5381e4dc6680,Manuella Fernandes,23,M,Alta Frequência,"Joinville, Santa Catarina"
6,5eb63bc5-e2f1-4e16-95c3-3faefce176a1,Felipe Carvalho,19,M,Recorrente,"Brasília, Distrito Federal"
7,64c40063-ad68-43c6-8cd3-a6a49fc08086,Daniel Vieira,24,F,Alta Frequência,"Florianópolis, Santa Catarina"
8,f629c955-3277-4b28-ab3d-48acf5ddb7d2,Luna da Rocha,68,F,Alta Receita,"Joinville, Santa Catarina"
9,c95d2093-f2e2-4d2f-8af3-c094b61ed8af,Luiz Gustavo Pereira,37,F,Alta Receita,"Brasília, Distrito Federal"

In [31]:
vendas = pd.read_csv('vendas_data.csv')
vendas.head(5)

,OrdemID,DataVenda,ClienteID,ProdutoID,Regiao,Canal,Quantidade,Receita,Disconto,Lucro
0,46685257-bdd6-40fb-8667-1ad11c80317f,2024-09-20,bc8960a9-23b8-41e9-b924-56de3eb13b90,e465e150-bd9c-46b3-ad3c-2d6d1a3d1fa7,Norte,Online,5,1262.21,0.07,274.19
1,0822e8f3-6c03-4199-972a-846916419f82,2024-04-27,3b8faa18-37f8-488b-97fc-695a07a0ca6e,8fadc1a6-06cb-4fb3-9a1d-e644815ef6d1,Sul,Online,10,2138.51,0.01,562.22
2,8b8148f6-b38a-488c-a65e-d389b74d0fb1,2022-11-05,96da1dac-72ff-4d2a-b86e-cbe06b65a6a4,01a9e71f-de8a-474b-8f36-d58b47378190,Sul,Online,9,1034.25,0.32,1371.45
3,47229389-571a-4876-ac30-7511b2b9437a,2022-09-06,c37459ee-f50b-4a63-b71e-cd7b27cd8130,6142ea7d-17be-4111-9a2a-73ed562b0f79,Nordeste,Loja Física,10,1427.04,0.43,1901.84
4,9a8dca03-580d-4b71-98f5-64135be6128e,2022-05-31,bacfb3d0-0b1f-4163-8e9f-f57f43b7a3a6,f91e1d4c-1ff4-4b78-8946-3e85759cde66,Nordeste,Loja Física,6,1425.46,0.11,1913.47

In [5]:
meta_vendas = pd.read_csv('vendas_meta.csv')
meta_vendas.head(10)

  Regiao   Canal  Periodo  MetaReceita  MetaLucro
0  Norte  Online  2022-Q1    748434.22  375835.71
1  Norte  Online  2022-Q2    389490.63   67293.51
2  Norte  Online  2022-Q3    911367.65  357942.47
3  Norte  Online  2022-Q4    105311.45   51539.43
4  Norte  Online  2023-Q1    152575.79  224387.27
5  Norte  Online  2023-Q2    610259.30  435651.36
6  Norte  Online  2023-Q3    785958.63   65837.85
7  Norte  Online  2023-Q4    591024.28   58907.01
8  Norte  Online  2024-Q1    841598.57  264392.71
9  Norte  Online  2024-Q2    614342.68  223724.64

In [6]:
calendario = pd.read_csv('calendario_data.csv')
calendario.head(10)

         Data            Dia       Mes  Trimestre   Ano
0  2022-01-01         sábado      maio          1  2022
1  2022-01-02    terça-feira     junho          1  2022
2  2022-01-03   quarta-feira     junho          1  2022
3  2022-01-04        domingo     junho          1  2022
4  2022-01-05    terça-feira     abril          1  2022
5  2022-01-06  segunda-feira  setembro          1  2022
6  2022-01-07    sexta-feira      maio          1  2022
7  2022-01-08  segunda-feira  setembro          1  2022
8  2022-01-09    sexta-feira     junho          1  2022
9  2022-01-10        domingo  novembro          1  2022

In [7]:
vendas.shape

(1854, 10)