In [1]:
# Importando as bibliotecas 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# Carregando os dados
vendas = pd.read_csv('vendas_data.csv')
vendas.head(5)

,VendaID,DataVenda,ProdutoID,ClienteID,Região,Canal,Quantidade,Receita
0,V001,2024-04-07,P008,C013,São Paulo,Loja Física,4,1193.73
1,V002,2023-02-22,P048,C053,Minas Gerais,Online,10,2167.42
2,V003,2022-12-17,P002,C048,Tocantins,Online,9,3049.89
3,V004,2024-06-25,P036,C102,Rio de Janeiro,Loja Física,4,2301.12
4,V005,2023-06-29,P018,C415,Acre,Online,7,1767.23

In [6]:
# Qual a quantidade de vendas, dos produtos e clientes
print(f'Foram realizadas {vendas.shape[0]} vendas')

Foram realizadas 1854 vendas

In [7]:
# Valores Duplicados
sum(vendas.duplicated())

0

In [8]:
# Valores Nulos
vendas.isnull().count()

VendaID       1854
DataVenda     1854
ProdutoID     1854
ClienteID     1854
Região        1854
Canal         1854
Quantidade    1854
Receita       1854
dtype: int64

In [9]:
# Valores NAN
vendas.isna().count()

VendaID       1854
DataVenda     1854
ProdutoID     1854
ClienteID     1854
Região        1854
Canal         1854
Quantidade    1854
Receita       1854
dtype: int64